
table, th, td{
	border-collapse: collapse;
	border: 1px solid #D0D7DE;
	padding: 10px;
	
}

table{
	width: 100%;
}

th{
	text-align: left;
	background: #C0504D;
	color: white;
}
td{
	text-align: right;
}
td:first-child{
	text-align: left;
}

tr:nth-child(2n+2){
	background: #C1C1C1;
}

